*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  align-items: center;
  color: hsla(0, 0%, 100%, 0.75);
  font-family: 'Inter', arial;
}

.left {
  background: linear-gradient(to right, hsl(277, 72%, 34%) 0%, hsl(244, 38%, 16%) 100%);
  height: 500px;
  flex: 1;
  padding: 3rem;
}

.title {
  font-size: 3rem;
  padding: 1rem;
}

.stats {
  display: flex;
  justify-content: space-between;
  padding: 6rem 1rem 0rem 1rem;
}

.text {
  padding: 1rem;
  margin-right: 3rem;
  line-height: 2rem;
}

.title span {
  color: hsl(277, 64%, 61%);
}

.right {
  height: 500px;
  flex: 1;
}

h2 {
  display: flex;
  justify-content: center;
  margin: 1rem;
  font-weight: bold;
  color: hsla(0, 0%, 100%, 0.6);
}

p{
  display: flex;
  justify-content: center;
}

.image {
  height: 500px;
  width: 100%;
}
